<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_custom}">
<head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var weatherData = "";
        $(document).ready(function () {
            $('#searchForm').submit(function (event) {
                event.preventDefault();
                var searchParam = $('#searchInput').val();
                $('#cb_like_city').prop('checked', false);
                weatherData = "";

                $.ajax({
                    type: 'GET',
                    url: '/api/search', // Your Spring REST endpoint
                    data: {city: searchParam},
                    contentType: 'application/json',
                    success: function (data) {
                        weatherData = data;
                        $('#largeModal').modal('toggle');
                        document.getElementById("modalHeaderTitle").innerHTML = "Weather Details";
                        let content =
                            '<tr>' +
                            '<td><strong> Location: </strong></td>' +
                            '<td>' + data.location + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Weather: </strong></td>' +
                            '<td>' + data.weather + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td style="width: 150px;"> <strong> Temperature: </strong> </td>' +
                            '<td>' + data.temp + "&deg;C" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Feels Like: </strong></td>' +
                            '<td>' + data.feels_like + "&deg;C" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Minimum Temperature: </strong></td>' +
                            '<td>' + data.temp_min + "&deg;C" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Maximum Temperature: </strong></td>' +
                            '<td>' + data.temp_max + "&deg;C" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Humidity: </strong></td>' +
                            '<td>' + data.humidity + "%" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Wind Speed: </strong></td>' +
                            '<td>' + data.wind + " mph" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Presurre: </strong></td>' +
                            '<td>' + data.pressure + " inHg" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Longitude: </strong></td>' +
                            '<td>' + data.longitude + "° E" + '</td>' +
                            '</tr>' +

                            '<tr>' +
                            '<td><strong> Latitude: </strong></td>' +
                            '<td>' + data.latitude + "° N" + '</td>' +
                            '</tr>';

                        $("#modalContent").html(content);

                    },
                    error: function (error) {
                        // Handle the JSON response (e.g., update UI)
                        console.log(error);
                    }
                });
            });
            $('#cb_like_city').on('change', function () {
                var checked = this.checked;
                if(checked){
                    var city = $('#searchInput').val();
                    if (!city) {
                        swal.fire("Please Enter a Location.");
                        return;
                    }

                    if (!weatherData) {
                        if (checked) {
                            swal.fire("Before like please view weather info. first");
                        }
                        return;
                    }

                    var url = '/savecity';

                    $.ajax({
                        type: 'POST',
                        url: url, // Your Spring REST endpoint
                        data: JSON.stringify(weatherData),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (data) {
                            swal.fire(data.responseText);
                            setTimeout(function () {
                                swal.close();
                            }, 2000);
                        },
                        error: function (error) {
                            console.log("Error occured!");
                        }
                    });
                }
            });

            $('#searchInput').on('input', function (e) {
                weatherData = "";
            });
        });
    </script>
</head>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <!--            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Weather Information /</span></h4>-->
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Weather Information /</span> Search Weather</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <!--                    <div th:replace="view/fellow/create/create :: firstcreate"></div>-->
                    <form id="searchForm">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <input type="text"
                                       id="searchInput"
                                       style="height: 33px; width: 230px;"
                                       name="searchInput"
                                       placeholder="Enter Location">
                                <button style="height: 33px;
                                       width: 75px;
                                       border: 2px solid darkgray;
                                       border-radius: 5px;
                                       margin-left: 5px;"
                                        type="submit">Search
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mt-3 mb-5">
                                <label for="cb_like_city"> Like this City?</label>
                                <input type="checkbox" style="width: 17px; height: 17px"
                                       name="cb_like_city"
                                       id="cb_like_city"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    <div th:replace="view/fellow/create/script :: firstscript"></div>-->
    <div th:fragment="modal" xmlns:th="http://www.w3.org/1999/xhtml">
        <!-- Modal -->
        <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHeaderTitle"></h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-sm table-bordered rounded" style="table-layout: fixed;">
                                <tbody id="modalContent"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>