<div xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:fragment="sidebar">
        <div class="app-brand demo">
            <a href="/home" class="app-brand-link">
              <span class="app-brand-logo demo py-1">
                <img th:src="@{/asset/images/home.png}" alt="User Name" width="40"/>
              </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">WA</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1 mb-5">

            <!-- Dashboard -->
            <li th:class="${#httpServletRequest.requestURI.contains('home')} ? 'menu-item active' : 'menu-item'">
                <a href="/home" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Home</div>
                </a>
            </li>

            <li th:class="${#httpServletRequest.requestURI.contains('weatherinfo')} ? 'menu-item active' : 'menu-item'">
                <a href="/weatherinfo" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-cloud-lightning"></i>
                    <div data-i18n="Basic">Get Weather Info.</div>
                </a>
            </li>

            <li th:class="${#httpServletRequest.requestURI.contains('likedcities')} ? 'menu-item active' : 'menu-item'">
                <a href="/likedcities" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-city"></i>
                    <div data-i18n="Basic">View Liked Cities</div>
                </a>
            </li>

            <li th:class="${#httpServletRequest.requestURI.contains('editprofile')} ? 'menu-item active' : 'menu-item'">
                <a th:href="@{/user/editprofile(id=${session.userId})}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-image"></i>
                    <div data-i18n="Basic">My Profile</div>
                </a>
            </li>

            <li th:class="${#httpServletRequest.requestURI.contains('change-password')} ? 'menu-item active' : 'menu-item'">
                <a href="/user/change-password" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                    <div data-i18n="Basic">Change Password</div>
                </a>
            </li>

        </ul>
    </aside>
</div>
